<table class="table table-bordered">
  <thead>
    <tr>
        <th>Time</th>
        <th>Application</th>
        <th>Location</th>
        <th>Branch</th>
        <th>Who</th>
        <th>Revision</th>
        <th>Runtime</th>
        <th>Details</th>
    </tr>
  </thead>

  <tbody>
    <%- for deploy in deploylist -%>
  	<tr>
      <td><%= deployed_time_for_table(deploy) %></td>
      <td><%= deploy.application.name %></td>
      <td><%= deploy.location %></td>
      <td><%= deploy.branch %></td>
      <td><%= deploy.coder.name %></td>
	  <%- if(!deploy.deployed_revision.blank?) -%>
	  <td><%= link_to(deploy.deployed_revision,deploy.github_url_for_deployed_revision) %></td>
  	  <%- else -%>
	  	<td>n/a</td>
	  <%- end -%>
      <td>
        <%= time_period_to_s(deploy.finish - deploy.start,true) %>
      </td>
      <td>
		  <%- if deploy.success? -%>
		  <%= link_to('success', deploy_path(deploy), :class => 'label label-success') %></td>
		  <%- else -%>
		  <%= link_to('failed', deploy_path(deploy), :class => 'label label-danger') %></td>
		  <%- end -%>
	  </td>
    </tr>
  <%- end -%>
  </tbody>
</table>
