<%- @deploylist.each do |deploy| %>
  <div class="well white">
          <h3>
      <%= where_deployed(deploy) %>
      <small></small>
    </h3>
    <p class='lead'>
      <%= deployed_time(deploy) %> by <%= deploy.coder.name %>
    </p>

    <div id='comment_for_deploy_<%= deploy.id %>'>
      <%= render(partial: 'shared/comment', locals: {deploy: deploy}) %>
    </div>

    <%- if !@application -%>
    <p>
      <%= link_to("<span class='label label-default'>#{deploy.application.name}</span>".html_safe,production_deploys_path(application: deploy.application.id)) %>
    </p>
    <%- end -%>

  </div>


<%- end -%>
