<% @page_title = "Engineering Application Deployments" %>
<div class="page-header">
  <h1>Production Releases</h1>
  <%- if @application or @coder -%>
  <p>Filtering by: 
    <%- if @application -%>
    <span class='label'><%= @application.name %></span>
    <%- end -%>
    <%- if @coder -%>
    <span class='label'><%= @coder.name %></span>
    <%- end -%>
  </p>
  <%- end -%>
</div>  

<div class="row-fluid">
  <div class="col-md-12">
    <%= paginate @deploylist %>
      <%= render(partial: 'production_listing') %>
    <%= paginate @deploylist %>

    </div>
  </div>
</div>