<% @page_title = "Deployment ##{@deploy.id}" %>
<div class="page-header">
  <h1>Deployment Details</h1>
</div>


<div class="row-fluid">
  <div class="span12">
	 <h3>Deployment Information
  <%- if @deploy.success? -%>
  <span class="label label-success">Success!</span>
  <%- else -%>
  <span class="label label-important">Failed!</span>
  <%- end -%>

	 </h3>
	<table class="table table-bordered">

	  <tbody>
		  <tr>
			  <td>Application</td>
     	 	<td><%= link_to(@deploy.application.name, deploys_path(:application => @deploy.application.id)) %></td>
		  </tr>


		  <tr>
			  <td>Time Deployed</td>
			  <td><%= @deploy.finish.to_s %></td>
		  </tr>

      <tr>
        <td>Duration</td>
        <td><%= time_period_to_s(@deploy.finish - @deploy.start) %></td>
      </tr>

		  <tr>
			  <td>Location</td>
     	 <td><%= link_to(@deploy.location,deploys_path(:location => @deploy.location)) %></td>
		  </tr>

		  <tr>
			  <td>Deployed Revision</td>
			  <%- if(!@deploy.deployed_revision.blank?) -%>
				  <td><%= link_to(@deploy.deployed_revision,github_url_for_deploy(@deploy)) %></td>
		  	  <%- else -%>
			  	<td>n/a</td>
			  <%- end -%>
		  </tr>

		  <tr>
			  <td>Coder</td>
      	<td><%= link_to(@deploy.coder.name,deploys_path(:coder => @deploy.coder.id))  %></td>
		  </tr>

		  <tr>
			  <td>Comment</td>
				<%- if @currentcoder -%>
					<td><%= best_in_place(@deploy, :comment, { :type => :textarea, :path => setcomment_deploy_path(:id => @deploy.id)})%></td>
		  	<%- else -%>
					<td><%= @deploy.comment %></td>
				<%- end -%>
			</tr>

	  </tbody>
	</table>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">



  <%= button_tag(@deploy.success? ? 'Show Log' : 'Hide Log', id: 'logtoggler', class: @deploy.success? ? 'btn btn-success' : 'btn btn-danger', data: {toggle: 'collapse', target: '#showlog'}) %>

  <div id="showlog" class="collapse<%= @deploy.success? ? '': ' in'%>">
    <pre>
      <%= @deploy.deploy_log.output %>
    </pre>
  </div>

  </div>
</div>


<script type="text/javascript">

$('#showlog').on('show', function () {
  $('#logtoggler').html('Hide Log');
});

$('#showlog').on('hide', function () {
  $('#logtoggler').html('Show Log');
});

</script>



