<% @page_title = "Deployment ##{@deploy.id}" %>
<div class="page-header">
  <h1>Deployment Details</h1>
</div>


<div class="row">
  <div class="col-md-6">
	<table class="table table-bordered table-condensed">

	  <tbody>

        <tr>
        <td>Status</td>
        <td>
            <%- if @deploy.success? -%>
  <span class="label label-success">Success!</span>
  <%- else -%>
  <span class="label label-danger">Failed!</span>
  <%- end -%>
</td>
      </tr>

		  <tr>
			  <td>Application</td>
     	 	<td><%= @deploy.application.name %></td>
		  </tr>


		  <tr>
			  <td>Time Deployed</td>
			  <td><%= deployed_time_for_table(@deploy) %></td>
		  </tr>

      <tr>
        <td>Duration</td>
        <td><%= time_period_to_s(@deploy.finish - @deploy.start) %></td>
      </tr>

		  <tr>
			  <td>Location</td>
     	 <td>
        <%- if @deploy.app_location.present? -%>
          <a href='<%= @deploy.app_location.url %>'><%= @deploy.app_location.url %></a> (<%= @deploy.location %>)
        <%- else -%>
          <%= @deploy.location %>
        <%- end -%>
       </td>
		  </tr>

		  <tr>
			  <td>Deployed Revision</td>
			  <%- if(!@deploy.deployed_revision.blank?) -%>
				  <td><%= link_to(@deploy.deployed_revision,github_url_for_deploy(@deploy)) %></td>
		  	  <%- else -%>
			  	<td>n/a</td>
			  <%- end -%>
		  </tr>

		  <tr>
			  <td>Coder</td>
      	<td><%= @deploy.coder.name %></td>
		  </tr>


      <tr>
        <td>Branch</td>
        <td><%= @deploy.branch %></td>
      </tr>

	  </tbody>
	</table>
  </div>

  <div class="col-md-6">
    <h4>Deployment Description/Comment</h4>
    <div id='comment_for_deploy_<%= @deploy.id %>'>
      <%= render(partial: 'shared/comment', locals: {deploy: @deploy}) %>
    </div>
    <%- if @currentcoder -%>
      <p id="edit_comment_link_for_deploy_<%= @deploy.id %>"><small><%= link_to('edit','#',id: "edit_comment_for_deploy_#{@deploy.id}") %></small></p>
    <%- end -%>

    <script class="code" type="text/javascript">
      $('#edit_comment_for_deploy_<%= @deploy.id %>').click(function() {
        $('#edit_comment_link_for_deploy_<%= @deploy.id %>').hide();
        $('#comment_for_deploy_<%= @deploy.id %>').html('<%= escape_javascript(render(partial: "shared/comment_form", locals: {deploy: @deploy})) %>');
     });
    </script>
</div>

<div class="row">
  <div class="col-md-12">



  <%= button_tag(@deploy.success? ? 'Show Log' : 'Hide Log', id: 'logtoggler', class: @deploy.success? ? 'btn btn-success' : 'btn btn-danger', data: {toggle: 'collapse', target: '#showlog'}) %>

  <div id="showlog" class="collapse<%= @deploy.success? ? '': ' in'%>">
    <pre>
      <%= @deploy.deploy_log.output %>
    </pre>
  </div>

  </div>
</div>


<script type="text/javascript">

$('#showlog').on('show.bs.collapse', function () {
  $('#logtoggler').html('Hide Log');
});

$('#showlog').on('hide.bs.collapse', function () {
  $('#logtoggler').html('Show Log');
});

</script>
