<%- @page_title = "Dump Logs for #{@appdump.application.name} #{@appdump.dbtype}" -%>
<div class="page-header">
  <h1><%= @page_title %></h1>
</div>

<div class="row">
  <div class="col-md-12">
  <table class="table table-bordered">
  <thead>
    <tr>
        <th>Initiated By</th>
        <th>Success?</th>
        <th>Started</th>
        <th>Finished</th>
        <th>Size</th>
        <th>Runtime</th>
        <th>Errors?</th>
    </tr>
  </thead>

  <tbody>
    <%- @appdump.app_dump_logs.order('created_at DESC').each do |dumplog| -%>
    <tr>
      <td><%= dumplog.coder.name %></td>
      <td><%= dumplog.success? ? 'Yes' : 'No' %></td>
      <td><%= dumplog.started_at %></td>
      <td><%= dumplog.finished_at %></td>
      <td><%= humanize_bytes(dumplog.size,'-')  %></td>
      <td><%= time_period_to_s(dumplog.runtime,true) %></td>
      <td>
        <%- if !dumplog.success? -%>
          <pre><%= dumplog.additionaldata[:error] %></pre>
        <%- else -%>
          &nbsp;
        <%- end -%>
    </tr>
  <%- end -%>
  </tbody>
</table>
  </div>
</div>
