<% @page_title = "Cron Logs" %>
<div class="page-header">
  <h1>Cron Logs</h1>
</div>  

<div class="row">
  <div class="col-md-12">
	  <%= paginate @cronlogs %>

    <table class="table table-bordered">
      <thead>
        <tr>
            <th>Cron</th>
            <th>Server</th>
            <th>Started At</th>
            <th>Runtime</th>
            <th>Details</th>
        </tr>
      </thead>
      
      <tbody>
        <%- for cronlog in @cronlogs -%>
        <tr>
          <td><%= link_to(cronlog.cron.name,cron_path(cronlog.cron)) %></td>
          <td><%= cronlog.server %></td>
          <td><%= cronlog.started_at %></td>
          <td><%= cronlog.runtime %></td>
          <td>
            <%- if cronlog.success? -%>
            <%= link_to('success', cron_log_path(cronlog), :class => 'label label-success') %></td>
            <%- else -%>
            <%= link_to('failed', cron_log_path(cronlog), :class => 'label label-danger') %></td>
            <%- end -%>
        </td>
        </tr>
      <%- end -%>
      </tbody>
    </table>
  </div>
</div>
