<ul class="nav">
	<%= link_to("eXtension Deploy Tracking",root_path,:class=>'brand')%>
</ul>

<!-- Core Navigation -->
<ul class="nav">

	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Applications<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<% Deploy.applications_with_deploys.keys.each do |application| %>
			<%= nav_item(deploys_path(:application => application.id),application.name) %>
			<%- end -%>  
		</ul>
	</li>
	
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Locations<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<% Deploy.locations_with_deploys.keys.each do |location| %>
			<%= nav_item(deploys_path(:location => location),location) %>
			<%- end -%>  
		</ul>
	</li>
	
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Coders<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<% Deploy.coders_with_deploys.keys.each do |coder| %>
			<%= nav_item(deploys_path(:coder => coder.id),coder.name) %>
			<%- end -%>  
		</ul>
	</li>

	<%- if @currentcoder -%>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Crons<b class="caret"></b></a>
		<ul class="dropdown-menu">
		  <%= nav_item(cron_logs_path,"Most recent") %>
		  <li class="divider"></li>
			<% Cron.all.each do |cron| %>
			<%= nav_item(crons_path(:cron => cron.id),cron.name) %>
			<%- end -%>  
		</ul>
	</li>
	<%- end -%>

</ul>



<ul class="nav pull-right">
	<%- if @currentcoder -%>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @currentcoder.name %><b class="caret"></b></a>
		<ul class="dropdown-menu">
			<%= nav_item(deploys_path(:coder => @currentcoder.id),'Your Deploys') %>
			<%= nav_item(notifications_path, 'Notification Preferences')  %>
			<li class="divider"></li>
			<%= nav_item(logout_path,'Sign out') %>
		</ul>
	</li>
	<%- else -%>
	<%= nav_item(url_for(:controller => 'auth', :action => 'github'),'Sign in with GitHub') %>  
	<%- end -%>
	
</ul>
