<ul class="nav">
	<%= link_to("eXtension Engineering",root_path,:class=>'brand')%>
</ul>

<!-- Core Navigation -->
<ul class="nav">

	<%= nav_item(deploys_path,'All Deployments') %>


	<%- if @currentcoder -%>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Crons<b class="caret"></b></a>
		<ul class="dropdown-menu">
		  <%= nav_item(crons_path,"Most recent") %>
		  <li class="divider"></li>
			<% Cron.order("name ASC").each do |cron| %>
			<%= nav_item(cron_path(cron),cron.name) %>
			<%- end -%>
		</ul>
	</li>
	<%- end -%>

</ul>



<ul class="nav pull-right">
	<%- if @currentcoder -%>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @currentcoder.name %><b class="caret"></b></a>
		<ul class="dropdown-menu">
			<%= nav_item(coder_path(@currentcoder),'Your Profile') %>
			<%= nav_item(notifications_path, 'Notification Preferences')  %>
			<li class="divider"></li>
			<%= nav_item(logout_path,'Sign out') %>
		</ul>
	</li>
	<%- else -%>
	<%= nav_item(url_for(:controller => 'auth', :action => 'people'),'Sign in with eXtension') %>
	<%- end -%>

</ul>
