<% @page_title = "Cron Log ##{@cronlog.id}" %>
<div class="page-header">
  <h1>Cron Log Details</h1>
</div>  


<div class="row-fluid">
  <div class="col-md-12">
	 <h3>Log Information
  <%- if @cronlog.success? -%>
  <span class="label label-success">Success!</span>
  <%- else -%>
  <span class="label label-important">Failed!</span>
  <%- end -%>
	 
	 </h3>
	<table class="table table-bordered">
 
	  <tbody>
		  <tr>
			  <td>Command</td>
			  <td><%= @cronlog.command %></td>
		  </tr>		
		  <tr>
			  <td>Started at</td>
			  <td><%= @cronlog.started_at.to_s %></td>
		  </tr>	  
		  
		  <tr>
			  <td>Location</td>
     	 <td><%= @cronlog.server %></td>
		  </tr>
		  
		  <tr>
			  <td>Runtime</td>
				  <td><%= @cronlog.runtime %></td>
		  </tr>
		 
		  
	  </tbody>
	</table>
  </div>
</div>

<div class="row-fluid">
  <div class="col-md-12">
	  <h3>stdout </h3>
  <pre>
	  <%= @cronlog.stdout %>
  </pre>
  </div>
</div>

<div class="row-fluid">
  <div class="col-md-12">
	  <h3>stderr </h3>
  <pre>
	  <%= @cronlog.stderr %>
  </pre>
  </div>
</div>