
<% @page_title = "Cronmon Details for #{@cronmon.label}" %>
<div class="page-header">
  <h1<%= @page_title %></h1>
</div>  

<div class="row-fluid">
  <div class="span12">
    <%= paginate @cronlogs %>

    <table class="table table-bordered">
      <thead>
        <tr>
            <th>Started At</th>
            <th>Runtime</th>
            <th>Details</th>
        </tr>
      </thead>
      
      <tbody>
        <%- for cronlog in @cronlogs -%>
        <tr>
          <td><%= cronlog.start %></td>
          <td><%= cronlog.runtime %></td>
          <td>
            <%- if cronlog.success? -%>
            <%= link_to('success', showlog_cronmon_path(@cronmon,log_id: cronlog.id), :class => 'label label-success') %></td>
            <%- else -%>
            <%= link_to('failed', showlog_cronmon_path(@cronmon,log_id: cronlog.id), :class => 'label label-important') %></td>
            <%- end -%>
        </td>
        </tr>
      <%- end -%>
      </tbody>
    </table>
  </div>
</div>