<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="nav-collapse">
            <%= render(:partial => 'shared/navbar') %>
          </div> 
        </div> 
      </div>
    </div>

    <div class="container-fluid">
      <div id="flash">
      <%= render(:partial => 'shared/flashmessages') %>
      </div>
      <%= yield %>
    </div>    
  </body>
</html>
