<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <%= javascript_include_tag "https://www.extension.org/javascripts/global_nav_internal.js" %>
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="nav-collapse">
            <%= render(:partial => 'shared/navbar') %>
          </div> 
        </div> 
      </div>
    </div>

    <div class="container-fluid">
      <div id="flash">
      <%= render(:partial => 'shared/flashmessages') %>
      </div>

      <%- if !breadcrumbs.blank? -%>
      <div class="row-fluid">
        <div class='col-md-12'>
          <%= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder %>
        </div>
      </div>
      <%- end -%>

      <%= yield %>
    </div>

    <script type="text/javascript">
      var tz = jstz.determine();
      $.cookie('time_zone', tz.name());
    </script>

  </body>
</html>
